.number-cart{
    font-size: 10px;
    float: right;
    /*position: absolute;*/
    /*left: 9px;*/
    top: -2px;
    display: block;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    z-index: 2;
    border: 1px solid #FE980F;
    font-weight: 300;
    width: 21px;
    height: 21px;
    background: #FE980F;
    color: #ffffff;
}
.cart{
    display: -webkit-inline-box;
}
.cart_quantity_button a:hover{
    background: #FE980F !important;
    text-decoration: none;
}
.message-error{
    color: #e46060;
    font-style: italic;
    align-content: right;
    margin-bottom: 10px;
}
.input-free{
        width: -webkit-fill-available;
}
.free{
    width: 100% !important;
}
.shopper-info input, 
.form-two select, 
.form-two input, 
.form-one input {
  background:#F0F0E9;
  border: 0 none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  font-weight: 300
}

.form-two > select {
  padding:10px 5px
}

.form-two {
  margin-left: 5%
}