.number-cart{
    font-size: 10px;
    float: right;
    /*position: absolute;*/
    /*left: 9px;*/
    top: -2px;
    display: block;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    z-index: 2;
    border: 1px solid #FE980F;
    font-weight: 300;
    width: 21px;
    height: 21px;
    background: #FE980F;
    color: #ffffff;
}
.cart{
    display: -webkit-inline-box;
}
.cart_quantity_button a:hover{
    background: #FE980F !important;
    text-decoration: none;
}